#categoryList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
}
#collectionPage{
    z-index: 1;
    background-color: white;
}