.category{
    min-height: 150vh;
    position:absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    width:100%;
    top:60px;
}
#bookList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
}